/* Estilos generales */
@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  font-family: Montserrat; 
  text-align: center;
  margin-top: 50px;
  background-color: #f0f0f0;
  color: #333;
}

.e1 {
  color: #2c3e50;
  font-size: 2.5em;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}

h4 {
  margin: 10%;
  margin-top: 20px;
  color: rgb(180, 180, 180);
  justify-content: center;
  text-shadow: 0px 0px 10px rgb(177, 177, 177);
}

/* Contenedor de los botones */
.button-container {
  font-family: Montserrat; 
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

/* Botones de votaci칩n */
.voting-button {
  font-family: Montserrat; 
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000000;
  border-radius: 12px;
  padding: 20px;
  width: 250px;
  height: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  color: #333;
}

.voting-button img {
  border-radius: 10px;
  margin-bottom:  10px;
}

.voting-button strong {
  font-size: 1.2em;
  color: #2c3e50;
}

.voting-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

/* Bot칩n seleccionado */
.voting-button.selected {
  transform: scale(1.1);
  background-color: #2ecc71;
  border-color: #27ae60;
  color: white;
}

.voting-button.selected img {
  border-color: #2ecc71;
}

/* Mensaje de error */
.message {
  margin-top: 20px;
  font-size: 18px;
  color: #e74c3c;
}

/* A침adir algo de espaciado para dispositivos m칩viles */
@media (max-width: 768px) {
  .button-container {
      flex-direction: column;
      gap: 30px;
  }
}
